<%- include('./templates/cabecera.ejs', {tituloWeb: 'HOME pagina de inicio'}) %>
    <h1 class="text-primary">Titulo de mi sitio web index</h1>
    <h2> <%= titulo %> </h2>   
<%- include('./templates/footer.ejs') %>